.header {
  padding: clamp(20px, 5vw, 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButton {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.formWrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.form {
  max-width: 1020px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='white' stroke-width='2' stroke-dasharray='4px%2c 6px' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  transition: background-image 0.5s ease;
  border-radius: 30px;
  height: 670px;
  max-height: 62vh;
  margin: min(10vh, 120px) auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.form::after {
  content: "";
  position: absolute;
  background: radial-gradient(#130f26 70%, transparent);
  inset: 10px;
  border-radius: 25px;
}

.dragging {
  background-image: none;
}

.textWrapper {
  height: 50%;
  width: 100%;
  position: relative;
}

.label {
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.p {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

.label,
.p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  text-align: center;
  margin-bottom: 40px;
}

.input {
  display: none;
}

.surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.label,
.p,
.form button {
  z-index: 1;
}

/* ===========================================
              RESPONSIVE
=========================================== */

@media (max-width: 475px) {
  .label,
  .p {
    font-size: 20px;
  }
}
