body {
  margin: 0;
  background-color: #130f26;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.button {
  background-color: unset;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  min-height: 50px;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
}
