.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  text-transform: uppercase;
}

.h1 {
  font-size: 120px;
  max-width: 100%;
  margin: 0;
  margin-bottom: 80px;
}

.contentWrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 100%;
}

.content {
  position: relative;
  width: 365px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 2px 2px 15px 15px;
  overflow: hidden;
}

.content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white 15%, transparent 80%);
}

.content:after {
  content: "";
  position: absolute;
  background-color: #130f26;
  bottom: 10px;
  left: 1px;
  right: 1px;
  top: 1px;
}

.content p {
  position: relative;
  margin: 0;
  padding: 35px;
  box-sizing: border-box;
  z-index: 1;
}

.content > * {
  width: 100%;
}

.main .buttonWithIcon {
  position: relative;
  border-radius: 0 0 15px 15px;
  background: #130f26;
  z-index: 1;
}

.buttonWithIcon img {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

/* ===========================================
              RESPONSIVE
=========================================== */

@media (max-width: 600px) {
  .h1 {
    font-size: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .buttonWithIcon {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .h1 {
    font-size: 55px;
  }

  .content p {
    padding: 20px;
  }

  .buttonWithIcon img {
    left: 20px;
  }
}
