.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  text-transform: uppercase;
}

.h1 {
  font-size: 100px;
  margin: 0;
  margin-bottom: 80px;
}

.content {
  max-width: 345px;
}

.content p {
  margin-bottom: 30px;
}

.content > * {
  width: 100%;
}

.buttonWithIcon {
  position: relative;
}

.buttonWithIcon img {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
