.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  text-transform: uppercase;
}

.h1 {
  font-size: 100px;
  max-width: 100%;
  margin: 0;
  margin-bottom: 80px;
}

.content {
  width: 345px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.content p {
  margin-bottom: 30px;
}

.content > * {
  width: 100%;
}

.buttonWithIcon {
  position: relative;
}

.buttonWithIcon img {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

/* ===========================================
              RESPONSIVE
=========================================== */

@media (max-width: 475px) {
  .h1 {
    font-size: 55px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .buttonWithIcon {
    font-size: 0.9rem;
  }
}
